extends layout
block head
    script(src='bower_components/angular/angular.js')
    script(src='amcharts/amcharts.js')
    script(src='amcharts/xy.js')
    script(src='amcharts/serial.js')
    script(src='bower_components/jspdf/dist/jspdf.min.js')
    script(src='javascripts/regression.js')
    script(src='javascripts/app.js')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/jquery-migrate-1.2.1.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/modernizr.js')
    script(src='javascripts/jquery.sparkline.min.js')
    script(src='javascripts/toggles.min.js')
    script(src='javascripts/retina.min.js')
    script(src='javascripts/jquery.cookies.js')
    script(src='javascripts/custom.js')
block content
    section()
        div(class='mainpanel')
            div(class='headerbar')
                a(class="menutoggle")
                    i(class="fa fa-bars")
                div(class='header-left')
                    h3(style='font-size:100%;padding-left:10px;') System 2
                div(class="header-right")
                    div#appbuttons
                        button.btn.btn-success.btn-primary(ng-click='processStudents(); showChart=true; showForm=false') Generate Report
                        button.btn Cancel
            div(class="pageheader")
                h2 3 Easy Steps
            div(class="contentpanel")
                    div(class='row')
                        div(class='stepContainer')
                            div(class='col-xs-3 col-sm-4 col-lg-4')
                                div(class='numberCircleContainer')
                                    div(class='numberCircleSelected')#one 1
                                    div(class='numberCircleContainerText') Add Data
                            div(class='col-xs-3 col-sm-4 col-lg-4')
                                div(class='numberCircleContainer')
                                    div(class='numberCircle')#two 2
                                    div(class='numberCircleContainerText') Generate Report
                            div(class='col-xs-3 col-sm-4 col-lg-4')
                                div(class='numberCircleContainer')
                                    div(class='numberCircle')#three 3
                                    div(class='numberCircleContainerText') View Report
                    h4#directionText Choose how you will add test data.
                    div(ng-controller='sys2Ctrl')
                        div(ng-show='showChoice')
                            div(class="row no-gutter")
                                div(class='col-sm-6 col-md-4')
                                    div#choiceOne
                                        div(ng-show='showFile')
                                        i(class="fa fa-pencil-square-o")#bg
                                        p
                                            h4 Fill out web form
                                            button.btn.btn-primary.btn-lg(ng-click='showInputForm()') Start
                                div(class='col-sm-6 col-md-4')
                                    div#choiceTwo
                                        i(class="fa fa-cloud-upload")#bg
                                        p
                                            h4 Find a CSV file on your computer.
                                        span.btn.btn-default.btn-file
                                            | Find File
                                            input(type='file', value='Load Data From File', onchange='angular.element(this).scope().loadStudents(this)') Choose File
                                        br
                                        br
                                        a Download A CSV Template
                        div(class='row')
                            div(class="col-sm-12")
                                div#tableLike(ng-show='showForm')
                                        div(ng-show='showSuccess')
                                            div(class='successContainer')
                                                span(class="fa fa-check-circle fa-6") &nbsp; Success!
                                                h4 You have successfuly added data. You can review & edit the data you provided below or just click "Generate Report".
                                        div(style='margin-bottom:10px')
                                            button.btn.btn-success.btn-primary(ng-click='processStudents(); showChart=true; showForm=false') Generate Report
                                        div(class='' )
                                            table
                                                thead
                                                    tr
                                                        th Student Name
                                                        th Grade
                                                        th Assessment 1
                                                        th Assessment 2
                                                        th Growth
                                                        th % Growth
                                                        th

                                                tbody
                                                    tr(ng-repeat='student in students')
                                                        td
                                                            input(ng-model='student.name')
                                                        td
                                                            input(ng-model='student.grade')
                                                        td
                                                            input(ng-model='student.score1')
                                                        td
                                                            input(ng-model='student.score2')
                                                        td
                                                            label {{student.score2 - student.score1}}
                                                        td
                                                            label {{ (student.score2 - student.score1)/student.score2 | percentage:2}}
                                                        td.table-action
                                                            a.delete-row(href='')
                                                                i.fa.fa-trash-o
                                        button.btn.btn-primary.btn-sm(ng-click='addStudent()') Add Row
                                        button.btn.btn-primary.btn-sm(ng-click='processStudents(); showChart=true; showForm=false') Generate Report
                         div(class='row')
                            div(ng-show='showChart')
                                //button(ng-click='showLargeChart()') Large
                                //button(ng-click='showMedChart()') Medium
                                //button(ng-click='showSmallChart()') Small
                                br
                                div.row(ng-repeat='grade in grades')
                                    div.col-md-4.col-xs-12.col-sm-4
                                        div(class="responsive-container")
                                            div#tableDiv
                                                div(id='printDiv{{grade}}')
                                                    datasummary(grade='{{grade}}')
                                                    <!-- ADD_PAGE -->
                                                    div(style='display:none;')
                                                        print-xy-chart(grade='{{grade}}')
                                                        <!-- ADD_PAGE -->
                                                        print-line-chart(grade='{{grade}}')
                                                button.btn.btn-primary.btn.lg(ng-click='saveGradeToPdf(grade)') Save Grade {{grade}} to PDF

                                    div.col-md-4.col-xs-12.col-sm-4
                                        div(class="responsive-container")
                                            div#chartdiv
                                                xy-chart(grade='{{grade}}')
                                                button.btn.btn-primary.btn.lg( style='width:320px;margin-left:15px', ng-click='showLargeChart("xyChart",grade)' ) View Larger Chart
                                    div.col-md-4.col-xs-12.col-sm-4
                                        div(class="responsive-container")
                                            div#chartdiv
                                                line-chart(grade='{{grade}}')
                                                button.btn.btn-primary.btn.lg( style='width:320px;margin-left:15px', ng-click='showLargeChart("lineChart",grade)' ) View Larger Chart


